external/

custom.el
init.el
early-init.el
eshell

projects.eld
recentf.eld
bookmarks.eld
fontaine-latest-state.eld
.emacs.desktop

elpa
eln-cache
auto-save-list
tmp
projects
saves
transient
games
history
tutorial
url
tree-sitter
multisession/
tramp
tldr/
nov-places
ielm-history.eld
image-dired/
elfeed/
