custom.el
init.el
early-init.el
eshell/history
eshell/lastdir
auto-save-list
elpa
ido.last
projects
saves
transient
tmp
games
history
tutorial
url
bookmarks
eln-cache
tree-sitter
.cache
multisession/
.lsp-session-v1
themes
lisp
tree-sitter
